*{padding: 0;margin: 0}
html body{height: 100%;width: 100%;background: #f6f7f7;}
.cf:after{content: "";display: table;clear: both; }
.cf{
    *zoom: 1;
}
/*头部*/
.top-log{
    width: 100%;
    height: 50px;
    background: #3e8be0;
    box-sizing: border-box;
    padding: 0 20px 0 10px}

.log{
    box-sizing: border-box;
    float: left;
    display:block;
    width:130px;
    height: 40px;
    margin: 4px 0;
    background: url("../images/logo.png");         -webkit-background-size:cover;                background-size:cover;}

/*文本内容*/
.show{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px 0;}

.one{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    background: #eeeef3;}

.one-txt{
    background: #eeeef3;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    outline: none;
    border: 1px solid #adadad;
    font-size: 14px;
    font-family: "微软雅黑"}

.one-text{
    width:25px;
    height: 25px;
    background-size:cover;
    position: absolute;
    left: 12px;top: 12px}

.one-text2{
    width:25px;
    height: 25px;
    background-size:cover;
    position: absolute;
    left: 12px;top: 12px}
/*按钮*/
.submit{
    width: 100%;
    height: 50px;
    background: #3e8be0;
    outline: none;
    border: 0 none;
    border-radius: 5px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: white}

.ter{
    width: 70%;
    font-size: 12px;
    font-family: "微软雅黑";
    margin: 20px auto}

.ter-1{
    float: left;
    color: #8a8a8a;}

.ter-2{
    float: right;
    color: #8a8a8a;}

/*验证码*/
.one-text3{
    width:100px;
    height: 48px;
    background: url("../images/yzm.jpg") no-repeat;
    background-size:100px 48px;
    position: absolute;right: 1px;top: 1px;
}
